@import 'tailwindcss';

/* ===== LIGHT (padrão) ===== */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;
  --primary-70: rgba(0, 0, 0, 0.7);
  --secundary: rgba(255, 255, 255, 0.5);

  /* Gradientes */
  --gradient-border-white: linear-gradient(
    to right,
    rgba(225, 225, 225, 0.3) 0%,
    rgba(225, 225, 225, 0.9) 70%,
    rgba(225, 225, 225, 1) 100%
  );
  --gradient-radial-white: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --gradient-fill-blue: linear-gradient(112deg, #2b6ed1 0%, #062550 100.08%);
  --gradient-fill-sunset: linear-gradient(
    110deg,
    #ff9d3f 0.07%,
    #f46772 33.9%,
    #af33e4 66.29%,
    #2f70e4 100.44%
  );

  /* Stroke (LIGHT: preto suave; mude se preferir branco) */
  --stroke-container-divider: var(--Container-divider, rgba(0, 0, 0, 0.1));
}

/* ===== DARK (override) ===== */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #070707;
    --foreground: #ededed;
    --primary: #ffffff;
    --primary-70: rgba(255, 255, 255, 0.7);
    --secundary: rgba(255, 255, 255, 0.5);

    /* Ajustes de gradiente para dark (opcionais) */
    --gradient-border-white: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.6) 70%,
      rgba(255, 255, 255, 0.9) 100%
    );
    --gradient-radial-white: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );

    /* Stroke (DARK: branco suave) */
    --stroke-container-divider: var(
      --Container-divider,
      rgba(255, 255, 255, 0.1)
    );
  }
}

/* Mapeamento do tema */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-70: var(--primary-70);
  --color-secundary: var(--secundary);

  --color-gradient-border-white: var(--gradient-border-white);
  --color-gradient-radial-white: var(--gradient-radial-white);
  --color-gradient-fill-blue: var(--gradient-fill-blue);
  --color-gradient-fill-sunset: var(--gradient-fill-sunset);
  --color-stroke-container-divider: var(--stroke-container-divider);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Base */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 29s linear infinite;
}
